# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Env / secrets
.env
*.env

# Virtual env
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data (não versionar base + docs do paciente)
data/raw_docs/
data/chroma_db/

.env
